# In This Project I will demonstrate 
### How to work out a example of random forest algothrim on tantic dataset with feature engineering

#### Step 1 import necessary libriaries and load the data

In [39]:
import pandas as pd
import numpy as np
from scipy.stats import skew
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import RandomForestRegressor
from sklearn.grid_search import GridSearchCV
from sklearn.ensemble import ExtraTreesClassifier

train = pd.read_csv(r'C:\Users\Eric Yang\Desktop\Kaggle Comptetion\titanic\train.csv')
test = pd.read_csv(r'C:\Users\Eric Yang\Desktop\Kaggle Comptetion\titanic\test.csv')

#### Step 2 A: handle missing data the simple way would be fill age with mean

In [2]:
#train.Age.fillna(train.Age.mean(), inplace = True)

#### Step 2 B: the more complex way would be using machine learn algorithm to compute missing age

In [2]:
X_test = train[train['Age'].notnull() == False]
X_train = train[train['Age'].notnull() == True]
y_train = X_train.pop('Age') #or y_train = train.Age.dropna(axis = 0)

In [3]:
X_test.drop(['Name','Ticket','PassengerId','Cabin'], axis = 1, inplace = True)
X_train.drop(['Name','Ticket','PassengerId','Cabin'], axis = 1, inplace = True)

C:\Users\Eric Yang\Anaconda2\envs\snakes\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
C:\Users\Eric Yang\Anaconda2\envs\snakes\lib\site-packages\ipykernel\__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [4]:
categorical_variables = ['Sex', 'Embarked']

In [5]:
for variable in categorical_variables:
    X_train[variable].fillna('Missing', inplace = True)
    dummies = pd.get_dummies(X_train[variable], prefix = variable)
    X_train = pd.concat([X_train, dummies], axis = 1)
    X_train.drop([variable], axis = 1, inplace = True)
    X_test[variable].fillna('Missing', inplace = True)
    dummies = pd.get_dummies(X_test[variable], prefix = variable)
    X_test = pd.concat([X_test, dummies], axis = 1)
    X_test.drop([variable], axis = 1, inplace = True)

C:\Users\Eric Yang\Anaconda2\envs\snakes\lib\site-packages\pandas\core\generic.py:3295: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

In [6]:
X_test.drop(['Age'],axis = 1, inplace = True)
X_train.Fare.fillna(X_train.Fare.mean(), inplace = True)
X_test.Fare.fillna(X_test.Fare.mean(), inplace = True)
model1 = RandomForestRegressor(500, random_state = 42)
model1.fit(X_train, y_train)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_split=1e-07, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           n_estimators=500, n_jobs=1, oob_score=False, random_state=42,
           verbose=0, warm_start=False)

In [7]:
X_test['Embarked_Missing'] = 0

In [9]:
y_test = model1.predict(X_test)
missingAge = np.rint(y_test)

In [10]:
train.Age[train['Age'].notnull() == False] = missingAge

C:\Users\Eric Yang\Anaconda2\envs\snakes\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [9]:
train.describe() #after thoughts write this into a function?

       PassengerId      Pclass         Age       SibSp       Parch        Fare
count   418.000000  418.000000  418.000000  418.000000  418.000000  417.000000
mean   1100.500000    2.265550   29.821770    0.447368    0.392344   35.627188
std     120.810458    0.841838   13.062542    0.896760    0.981429   55.907576
min     892.000000    1.000000    0.170000    0.000000    0.000000    0.000000
25%     996.250000    1.000000   22.000000    0.000000    0.000000    7.895800
50%    1100.500000    3.000000   27.000000    0.000000    0.000000   14.454200
75%    1204.750000    3.000000   36.875000    1.000000    0.000000   31.500000
max    1309.000000    3.000000   76.000000    8.000000    9.000000  512.329200

In [ ]:
#train.to_csv(r'C:\Users\Eric Yang\Desktop\Kaggle Comptetion\titanic\train.csv')

#### Step 3: Feature Engineering and Categorical Variables Processing

In [11]:
alldata = train.append(test)

In [12]:
alldata.describe()

,Age,Fare,Parch,PassengerId,Pclass,SibSp,Survived
count,1223.000000,1308.000000,1309.000000,1309.000000,1309.000000,1309.000000,891.000000
mean,29.998095,33.295479,0.385027,655.000000,2.294882,0.498854,0.383838
std,13.939789,51.758668,0.865560,378.020061,0.837836,1.041658,0.486592
min,0.170000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000
25%,21.000000,7.895800,0.000000,328.000000,2.000000,0.000000,0.000000
50%,29.000000,14.454200,0.000000,655.000000,3.000000,0.000000,0.000000
75%,39.000000,31.275000,0.000000,982.000000,3.000000,1.000000,1.000000
max,80.000000,512.329200,9.000000,1309.000000,3.000000,8.000000,1.000000

In [13]:
def clean_cabin(obj):
    try:
        return obj[0]
    except TypeError:
        return None

In [14]:
alldata.Cabin = alldata.Cabin.apply(clean_cabin)

In [15]:
alldata['Title'] = alldata['Name'].map(lambda name:name.split(',')[1].split('.')[0].strip())

In [16]:
Title_Dictionary = {
                    "Capt":       "Officer",
                    "Col":        "Officer",
                    "Major":      "Officer",
                    "Jonkheer":   "Royalty",
                    "Don":        "Royalty",
                    "Sir" :       "Royalty",
                    "Dr":         "Officer",
                    "Rev":        "Officer",
                    "the Countess":"Royalty",
                    "Dona":       "Royalty",
                    "Mme":        "Mrs",
                    "Mlle":       "Miss",
                    "Ms":         "Mrs",
                    "Mr" :        "Mr",
                    "Mrs" :       "Mrs",
                    "Miss" :      "Miss",
                    "Master" :    "Master",
                    "Lady" :      "Royalty"

                    }

In [17]:
alldata['Title'] = alldata['Title'].map(Title_Dictionary)

In [18]:
alldata.head()

,Age,Cabin,Embarked,Fare,Name,Parch,PassengerId,Pclass,Sex,SibSp,Survived,Ticket,Title
0,22.0,None,S,7.2500,"Braund, Mr. Owen Harris",0,1,3,male,1,0.0,A/5 21171,Mr
1,38.0,C,C,71.2833,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,2,1,female,1,1.0,PC 17599,Mrs
2,26.0,None,S,7.9250,"Heikkinen, Miss. Laina",0,3,3,female,0,1.0,STON/O2. 3101282,Miss
3,35.0,C,S,53.1000,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,4,1,female,1,1.0,113803,Mrs
4,35.0,None,S,8.0500,"Allen, Mr. William Henry",0,5,3,male,0,0.0,373450,Mr

In [19]:
groupedAge = alldata.groupby(['Sex','Pclass','Title'])['Age']
groupedAge.mean()

Sex     Pclass  Title
female  1       Miss       30.129032
                Mrs        42.039474
                Officer    49.000000
                Royalty    40.000000
        2       Miss       20.968400
                Mrs        33.418182
        3       Miss       17.743897
                Mrs        30.258621
male    1       Master      6.984000
                Mr         41.858553
                Officer    50.500000
                Royalty    42.333333
        2       Master      2.757273
                Mr         32.647260
                Officer    40.700000
        3       Master      6.569024
                Mr         29.347015
Name: Age, dtype: float64

In [20]:
def fillAges(row):
        if row['Sex']=='female' and row['Pclass'] == 1:
            if row['Title'] == 'Miss':
                return 30
            elif row['Title'] == 'Mrs':
                return 42
            elif row['Title'] == 'Officer':
                return 49
            elif row['Title'] == 'Royalty':
                return 40

        elif row['Sex']=='female' and row['Pclass'] == 2:
            if row['Title'] == 'Miss':
                return 21
            elif row['Title'] == 'Mrs':
                return 33

        elif row['Sex']=='female' and row['Pclass'] == 3:
            if row['Title'] == 'Miss':
                return 18
            elif row['Title'] == 'Mrs':
                return 30

        elif row['Sex']=='male' and row['Pclass'] == 1:
            if row['Title'] == 'Master':
                return 7
            elif row['Title'] == 'Mr':
                return 42
            elif row['Title'] == 'Officer':
                return 50.5
            elif row['Title'] == 'Royalty':
                return 42

        elif row['Sex']=='male' and row['Pclass'] == 2:
            if row['Title'] == 'Master':
                return 2.7
            elif row['Title'] == 'Mr':
                return 32.5
            elif row['Title'] == 'Officer':
                return 41

        elif row['Sex']=='male' and row['Pclass'] == 3:
            if row['Title'] == 'Master':
                return 6.5
            elif row['Title'] == 'Mr':
                return 29

In [21]:
alldata.Age = alldata.apply(lambda r : fillAges(r) if np.isnan(r['Age']) else r['Age'], axis=1)

In [22]:
alldata.Fare.fillna(alldata.Fare.mean(),inplace=True)

In [23]:
alldata['Sex'] = alldata['Sex'].map({'male':1,'female':0})

In [24]:
alldata['FamilySize'] = alldata['Parch'] + alldata['SibSp'] + 1
alldata['Singleton'] = alldata['FamilySize'].map(lambda s : 1 if s == 1 else 0)
alldata['SmallFamily'] = alldata['FamilySize'].map(lambda s : 1 if 2<=s<=4 else 0)
alldata['LargeFamily'] = alldata['FamilySize'].map(lambda s : 1 if 5<=s else 0)

In [25]:
alldata.Embarked.fillna('S',inplace=True)

In [26]:
alldata.drop(['Name','Ticket','PassengerId'], axis = 1, inplace = True)

In [27]:
categorical_features = alldata.dtypes[alldata.dtypes == 'object'].index

In [28]:
for variable in categorical_features:
    alldata[variable].fillna('Missing', inplace = True)
    dummies = pd.get_dummies(alldata[variable], prefix = variable)
    alldata = pd.concat([alldata, dummies], axis = 1)
    alldata.drop([variable], axis = 1, inplace = True)

In [29]:
alldata.drop(['Survived'], axis = 1, inplace = True)

In [30]:
skew(alldata['Fare'])

4.364366076590386

In [31]:
alldata['Fare'] = np.log1p(alldata['Fare'])

In [32]:
alldata.head()

,Age,Fare,Parch,Pclass,Sex,SibSp,FamilySize,Singleton,SmallFamily,LargeFamily,...,Cabin_T,Embarked_C,Embarked_Q,Embarked_S,Title_Master,Title_Miss,Title_Mr,Title_Mrs,Title_Officer,Title_Royalty
0,22.0,2.110213,0,3,1,1,2,0,1,0,...,0,0,0,1,0,0,1,0,0,0
1,38.0,4.280593,0,1,0,1,2,0,1,0,...,0,1,0,0,0,0,0,1,0,0
2,26.0,2.188856,0,3,0,0,1,1,0,0,...,0,0,0,1,0,1,0,0,0,0
3,35.0,3.990834,0,1,0,1,2,0,1,0,...,0,0,0,1,0,0,0,1,0,0
4,35.0,2.202765,0,3,1,0,1,1,0,0,...,0,0,0,1,0,0,1,0,0,0

#### Step 4: Modeling and hyperparameter tuning and feature selection

In [34]:
final_train = alldata.iloc[:891]
final_test = alldata.iloc[891:]
recover = pd.read_csv(r'C:\Users\Eric Yang\Desktop\Kaggle Comptetion\titanic\train.csv')
target = recover.pop('Survived')

In [41]:
clf = ExtraTreesClassifier(n_estimators=200)
clf = clf.fit(final_train, target)

In [43]:
features = pd.DataFrame()
features['feature'] = final_train.columns
features['importance'] = clf.feature_importances_
features.sort(['importance'],ascending=False)

C:\Users\Eric Yang\Anaconda2\envs\snakes\lib\site-packages\ipykernel\__main__.py:4: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)

          feature  importance
0             Age    0.212405
1            Fare    0.183756
24       Title_Mr    0.134507
4             Sex    0.105765
3          Pclass    0.063018
25      Title_Mrs    0.036000
17  Cabin_Missing    0.034985
23     Title_Miss    0.032254
9     LargeFamily    0.024274
6      FamilySize    0.021088
5           SibSp    0.020680
8     SmallFamily    0.017070
2           Parch    0.015387
22   Title_Master    0.014822
21     Embarked_S    0.011524
14        Cabin_E    0.010196
19     Embarked_C    0.010086
7       Singleton    0.009897
26  Title_Officer    0.008938
20     Embarked_Q    0.007252
11        Cabin_B    0.007034
12        Cabin_C    0.006230
13        Cabin_D    0.005724
15        Cabin_F    0.002172
10        Cabin_A    0.001877
16        Cabin_G    0.001422
27  Title_Royalty    0.001222
18        Cabin_T    0.000417

In [49]:
selected_features = features['feature'][:16]

In [50]:
final_X = final_train[selected_features]
final_Xt = final_test[selected_features]

In [52]:
model = RandomForestClassifier(max_features='sqrt')

parameter_grid = {
                 'max_depth' : [4,5,6,7,8],
                 'n_estimators': [200,400,700,1000],
                 'criterion': ['gini','entropy']
                 }

#cross_validation = StratifiedKFold(targets, n_folds=5)

grid_search = GridSearchCV(model,
                           param_grid=parameter_grid,
                           cv=5)

grid_search.fit(final_X, target)

print('Best score: {}'.format(grid_search.best_score_))
print('Best parameters: {}'.format(grid_search.best_params_))

Best score: 0.8372615039281706
Best parameters: {'max_depth': 8, 'n_estimators': 1000, 'criterion': 'entropy'}

In [54]:
model = RandomForestClassifier(max_features='sqrt', max_depth= 8, n_estimators= 1000, criterion= 'entropy')
model.fit(final_X, target)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='entropy',
            max_depth=8, max_features='sqrt', max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            n_estimators=1000, n_jobs=1, oob_score=False,
            random_state=None, verbose=0, warm_start=False)

In [55]:
output = model.predict(final_Xt).astype(int)
df_output = pd.DataFrame()
df_output['PassengerId'] = test['PassengerId']
df_output['Survived'] = output

In [57]:
df_output.to_csv(r'C:\Users\Eric Yang\Desktop\Kaggle Comptetion\titanic\output.csv',index=False)